<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    {% block stylesheets %}
        <!-- ================== BEGIN core-css ================== -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <link href="/assets/assets/css/forum/vendor.min.css" rel="stylesheet" />
        <link href="/assets/assets/css/forum/app.min.css" rel="stylesheet" />
        <link href="/assets/assets/plugins/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <!-- ================== END core-css ================== -->
    {% endblock %}
</head>
<body>
<!-- begin #header -->
<div id="header" class="header navbar navbar-default navbar-fixed-top navbar-expand-lg">
    <!-- begin container -->
    <div class="container">
        <!-- begin navbar-brand -->
        <a href="index.html" class="navbar-brand">
            <span class="brand-text">
					Support Forum
				</span>
        </a>
        <div>
            <lu>
                <li class="nav {% if mainNavHome is defined %}active{% endif %}">
                    <a href="">Home</a>
                </li>
            </lu>
        </div>
        <!-- end navbar-brand -->
        <!-- begin navbar-toggle -->
        <button type="button" class="navbar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#header-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- end navbar-toggle -->
        <!-- begin #header-navbar -->
        <div class="collapse navbar-collapse" id="header-navbar">
            <ul class="nav navbar-nav navbar-end">
                <li >
                    <form class="navbar-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Keywords..." />
                            <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </li>
                {% if is_granted('ROLE_USER') %}

                    <li>
                        <a href="{{ path('index.user') }}"><i class="icon-logout"> Ton espace: {{ user.firstname }} {{ user.lastname }} /</i></a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}"><i class="icon-logout">Deconnecter</i></a>
                    </li>
                {% else %}
                    <li class="{% if mainNavRegidtrtion is defined %}active{% endif %}">
                        <a href="{{ path('app_register') }}">Inscription</a>
                    </li>
                    <li class="{% if mainNavLogin is defined %}active{% endif %}">
                        <a href="{{ path('app_login')}}">Connecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- end #header-navbar -->
    </div>
    <!-- end container -->
</div>
<!-- end #header -->

{% block body %}{% endblock %}

<!-- begin #footer -->
<div id="footer" class="footer">
    <!-- begin container -->
    <div class="container">
        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-md-4">
                <!-- begin section-container -->
                <div class="section-container">
                    <h4 class="footer-title">About Color Admin</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices ipsum in elementum porttitor.
                        Cras porttitor fermentum nisl non elementum. Nulla in placerat libero. Nulla pharetra purus eget diam dictum
                        ullamcorper nec et eros. Suspendisse consectetur nulla ut volutpat aliquam.
                    </p>
                </div>
                <!-- end section-container -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-md-4">
                <!-- begin section-container -->
                <div class="section-container">
                    <h4 class="footer-title">Latest Post</h4>
                    <ul class="latest-post">
                        <li>
                            <h4 class="title"><a href="#">Consectetur adipiscing elit ultrices</a></h4>
                            <p class="time">yesterday 10:42am</p>
                        </li>
                        <li>
                            <h4 class="title"><a href="#">Fusce ultrices ipsum porttitor</a></h4>
                            <p class="time">10/04/2015</p>
                        </li>
                        <li>
                            <h4 class="title"><a href="#">Cras porttitor fermentum adipiscing</a></h4>
                            <p class="time">02/04/2015</p>
                        </li>
                    </ul>
                </div>
                <!-- end section-container -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-md-4">
                <!-- begin section-container -->
                <div class="section-container">
                    <h4 class="footer-title">New Users</h4>
                    <ul class="new-user">
                        <li><a href="#"><img src="../assets/assets/img/user/user-1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/assets/img/user/user-2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/assets/img/user/user-3.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/assets/img/user/user-4.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/assets/img/user/user-5.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/assets/img/user/user-6.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/assets/img/user/user-7.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/assets/img/user/user-8.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/assets/img/user/user-9.jpg" alt="" /></a></li>
                    </ul>
                </div>
                <!-- end section-container -->
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end #footer -->

<!-- begin #footer-copyright -->
<div id="footer-copyright" class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                &copy; 2014 - 2021 SeanTheme All Right Reserved
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#" class="me-4">Contact Us</a>
                <a href="#">Knowledge Base</a>
            </div>
        </div>
    </div>
</div>
<!-- end #footer-copyright -->
{% block javascripts %}
<!-- ================== BEGIN BASE JS ================== -->
<script src="/assets/assets/js/forum/vendor.min.js"></script>
<script src="/assets/assets/js/forum/app.min.js"></script>
{% endblock %}
</body>
</html>